env
*.pyc
*.png
*.pdf
*.zip
*.pth
scripts/multi-agent/custom-environment/mas_env/runs/*
scripts/multi-agent/custom-environment/mas_env/models/*
scripts/multi-agent/custom-environment/mas_env/nn/tb_logs/*
**/__pycache__
**/tb_logs